@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */

.dis-flex{
  display: flex;     
}

.dark-3A{
  color: rgba(58, 58, 58, 1);

}

.pri-button{
  background-color: rgba(224, 44, 109, 1);
  border-radius: 41px;
  padding: 10px 24px;
  border: none; 
}

.span{
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 1rem;
}

.fa-arrow-right{
  color: aliceblue; 
}




/* header styles */
/* nav-styles */



.nav-bar , header{
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between; 
  align-items: center; 
}

nav li{
  list-style: none;
  margin-right: 34px;
}

nav a{
  text-decoration: none;
  color: rgba(58, 58, 58, 1);
}

.nav-title{
  font-weight: 700;
  font-size: 1.5rem; 
}

.nav-item{ 
  font-weight: 600;
  font-size: 1rem;
}


/* header content and image related style */

.header{
   gap: 130px;
   margin-top: 50px;
   /* background-image: url(./images/Circle\ design.svg);
   background-position: right bottom;   
   background-repeat: no-repeat; */
   max-width: 1167px;
   
}

.head-content-title{
   font-weight: 700;
   font-size: 3.25rem;
   margin-bottom: 16px;
}

.head-content-discription{
   font-weight: 600;
   font-size: 1rem;
   margin-bottom: 16px;
   
}

header{
   background-image: url(./images/Circle\ design.svg);
   background-position: right bottom;   
   background-repeat: no-repeat;
   margin-top: 50px;
   margin-bottom: 70px;
}

/* sponsper related styles */

.logos{
  max-width: 1110px;
  margin: 0 auto;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: repeat(7 , 1fr);
  gap: 60px;
  padding: 37px 50px 35px 50px;
  justify-items: center;
  align-items: center;
  margin-bottom: 100px;
}









