@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */

.dis-flex{
  display: flex;     
}

.dark-3A{
  color: rgba(58, 58, 58, 1);

}

.pri-button{
  background-color: rgba(224, 44, 109, 1);
  border-radius: 41px;
  padding: 10px 24px;
  border: none; 
}

.span{
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 1rem;
}

.fa-arrow-right{
  color: aliceblue; 
}

main{
  margin-top: 50px; 
}




/* header styles */
/* nav-styles */



.nav-bar{
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between; 
  align-items: center; 
}

nav li{
  list-style: none;
  margin-right: 34px;
}

nav a{
  text-decoration: none;
  color: rgba(58, 58, 58, 1);
}

.nav-title{
  font-weight: 700;
  font-size: 1.5rem; 
}

.nav-item{ 
  font-weight: 600;
  font-size: 1rem;
}


/* header content and image related style */

.header{
  gap: 100px;
  margin-top: 50px;
   
  
   
}

.header-image{
   
  background-image: url(./images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}



.head-content-title{
  font-weight: 700;
  font-size: 3.25rem;
  margin-bottom: 16px;
}

.head-content-discription{
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 16px;
   
}

header{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
   
}

/* sponsper related styles */

.logos{
  max-width: 1020px;
  margin: 0 auto;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: repeat(7 , 1fr);
  gap: 60px;
  padding: 37px 50px 35px 50px;
  justify-items: center;
  align-items: center;
  margin-bottom: 100px;
}


/* collection section related styles */

.collection{
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.collection-title{
  font-weight: 600;
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 30px;     
}

.collection-container{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3 , 1fr);
  gap: 30px;
}

.card{
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 17px 15px 17px 14px;

}

.fa-star , .fa-star-half-stroke{
  color: rgba(251, 130, 0, 1);
}

.name{
  font-weight: 500;
  font-size: 1.75rem;
  color: rgba(24, 25, 31, 1);
  margin-top: 16px;
  margin-bottom: 6px;
}

.price{
  font-weight: 400;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 6px;
  margin-bottom: 0px;
}

.star{
  margin-top: 10px;
  margin-bottom: 0px;
}

.rate{
  font-weight: 700;
  font-size: 0.875rem;
  color: rgba(94, 99, 102, 1);
  margin-left: 5px;
}

.info{
  font-weight: 700;
  font-size: 0.875rem;
  color: rgba(120, 120, 133, 1);
  margin-top: 5px;
}

.span-2{
  font-weight: 700;
  font-size: 1rem;
  color: rgba(224, 44, 109, 0.87);

}

.sec-button{
  margin-top: 50px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 89%;
  border: none;
  background-color: white;
}

.fa-arrow-right-long{
  color: rgba(224, 44, 109, 0.87);
  margin-left: 4px;
}





















@media screen and ( max-width: 576px ) {
   .nav-bar , .nav-bar ul{
       flex-direction: column;
   } 

   .nav-bar ul{
       gap: 5px;
       text-align: center;
   }

   .header{
       flex-direction: column-reverse;
   }

   .header-content{
       text-align: center;
   }
  
   .logos{
       grid-template-columns: repeat(2, 1fr);
       padding: 37px 0px 35px 0px;
       box-shadow: none;
   }

   .header-image img{
       width: 100%;
   }

   .collection-container{
      grid-template-columns: repeat(1 , 1fr);
   }

   .card img{
      width: 100%;
   }

   .sec-button{
       margin-left: 70%; 
   }

}   


@media screen and (min-width:576px) and (max-width:992px){
    
    .header{
       flex-direction: column-reverse;
    }

    .header-content{
       text-align: center;
    }
 
    .header-image img{
       width: 100%;
    } 

    .logos{
       grid-template-columns: repeat(3, 1fr);
       padding: 37px 0px 35px 0px;
       box-shadow: none;
    }

    .collection-container{
       grid-template-columns: repeat(2 , 1fr);
    }

    .card img{
       width: 100%;
    }

     .sec-button{
       margin-left: 0;
     }

}








