@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */

.dis-flex{
  display: flex;     
}

.dark-3A{
  color: rgba(58, 58, 58, 1);

}





/* header styles */
/* nav-styles */

.nav-bar{
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between; 
  align-items: center; 
}

nav li{
  list-style: none;
  margin-right: 34px;
}

nav a{
  text-decoration: none;
  color: rgba(58, 58, 58, 1);
}

.nav-title{
  font-weight: 700;
  font-size: 1.5rem; 
}

.nav-item{ 
  font-weight: 600;
  font-size: 1rem;
}



